.about-developer__container{
    max-width: 1200px;
    padding: 80px 20px;
    margin: auto;
    cursor: default;
    overflow: hidden;
}

.ad-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-title{
    text-transform: uppercase;
    color: #459A77;
    font-size: 64px;
    font-family: 'Tenor Sans', sans-serif;
    max-width: 400px;
    @include media(768){
        font-size: 46px;
    }
    @include media(575){
        font-size: 32px;
        line-height: 37px;
    }
}

.ad-text{
    margin-top: 24px;
    max-width: 750px;
    color: #777777;
    font-size: 21px;
    line-height: 26px;
    @include media(575){
        font-size: 16px;
        line-height: 20px;
    }
}

.project-gallery{
    margin-top: 48px;
    @include media(768){
        margin-top: 32px;
    }
}

.projects-top{
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include media(768){
        margin-bottom: 32px;
    }
}

.projects-title{
    max-width: 420px;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Tenor Sans', sans-serif;
    line-height: 37px;
    color: white;
    text-transform: uppercase;
    @include media(575){
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
    }
}

.projects-top a{
    font-size: 24px;
    font-weight: 400;
    color: white;
    @include media(768){
        display: none;
    }
}

.gallery-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include media(575){
        width: calc(100% + 40px);
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.project-box{
    height: 415px !important;
    overflow: hidden;
    border-radius: 6px;
    @include media(575){
        height: 600px !important;
    }
    @include media(380){
        height: 540px !important;
    }
}

.project-box:hover img{
    transform: scale(1.1);
    transition: .2s;
}

.project-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
    will-change: transform;
}

.developer{
    &__swiper{
        overflow: visible !important;
        height: 100%;
    }
    &__wrapper{
        display: flex;
    }
}