@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #151515;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: hidden;
    display: grid;
    grid-template-columns: 578px 1fr;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    caret-color: transparent;
    cursor: default;

    .preloader-numbers {
        display: grid;
        grid-template-columns: 1fr;
        transition: all 0.5s ease;
        // margin-top: -120px;

        span {
            display: block;
            font-size: 25vh;
            line-height: 100%;
            text-align: center;
            color: #fff;
            // padding: 50px 0;
            height: 33.33vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .preloader-loader-bg {

        &::after,
        &::before {
            content: "";
            background: linear-gradient(180deg, #474747 -31.09%, #000000 131.85%);
            width: 100%;
            height: 30%;
            position: absolute;
            top: 0;
            z-index: 9;
            opacity: 0.5;
        }

        &::after {
            bottom: 0;
            top: auto;
        }
    }

    .preloader-sekun {
        background-color: #1F1F1F;
        height: 100%;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            background-image: url('../img/lines-2.svg');
            background-size: contain;
            position: absolute;
            width: 36px;
            height: 100%;
            z-index: 9;
            margin-left: 24px;
            z-index: 10;
        }

        &::after {
            content: "";
            height: 11px;
            width: 100%;
            background: #E1A346;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 13;
        }

        span {
            position: relative;
            z-index: 5;
        }
    }

    .preloader-calendar {
        background: #151515;
        box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.25);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        &-inner {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            max-height: 664px;
            height: 100%;
        }

        &-logo {
            max-width: 240px;
            position: relative;
            overflow: hidden;
            transform: translateX(0%);
            transition: all 1s ease-in;
            animation-delay: 2s;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #151515;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: all 1s ease-in;
                animation-delay: 2s;
            }

            &.active {
                &::after {
                    transform: translateX(100%);
                }
            }

            img {
                width: 100%;
            }
        }

        &-time {
            display: flex;
            justify-content: center;
            gap: 26px;
            height: 128px;
            position: relative;

            &::after {
                content: "";
                background-image: url('../img/time-dots.svg');
                background-repeat: no-repeat;
                color: #fff;
                font-size: 90px;
                font-weight: bold;
                line-height: normal;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                width: 10px;
                height: 32px;
            }
        }

        &-hours {
            width: 128px;
            height: 100%;
            text-transform: uppercase;
            font-size: 72px;
            line-height: 84px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1F1F1F;
            box-shadow: inset 0px 54px 20px rgba(0, 0, 0, 0.1);
        }

        &-minutes {
            width: 128px;
            height: 100%;
            background: #E1A346;
            font-size: 72px;
            line-height: 84px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-days {
            font-weight: 400;
            font-size: 32px;
            line-height: 37px;
            color: #FFFFFF;
            text-align: center;
            margin-top: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 42px;
        }

        &-week,
        &-day {
            position: relative;

            &::after {
                content: "";
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: #E1A346;
                display: block;
                position: absolute;
                top: 50%;
                transform: translate(26px, -50%);
                right: 0;
            }
        }


    }

    .preloader-loading {
        display: inline-block;
        font-family: 'Montserrat',
        sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: #696969;
        background-image: url("../img/loading-bg.png");
        letter-spacing: 0;
        padding: .25em 0 .325em;
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255, 255, 255, .5);
        background-repeat: repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 30s linear infinite;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        &::selection {
            background-color: transparent;
            color: inherit;
        }
        
    }

    @-webkit-keyframes aitf {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }

    }


}

@media screen and (max-width: 1280px) {
    #preloader {
        grid-template-columns: 450px 1fr;

        .preloader-loading{
            font-size: 38px;
        }

        .preloader-calendar {

            &-day,
            &-week {
                font-size: 64px;
                line-height: 110%;
            }
        }

        .preloader-numbers {

            span {
                font-size: 180px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    #preloader {
        grid-template-columns: 380px 1fr;

        .preloader-loading{
            font-size: 32px;
        }

        .preloader-calendar {

            &-time {
                height: 100px;
            }

            &-day {
                width: 120px;
            }


            &-week {
                width: 180px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #preloader {
        grid-template-columns: 300px 1fr;

        .preloader-numbers {
            span {
                font-size: 100px;
            }
        }
    }
}


@media screen and (max-width: 640px) {
    #preloader {
        display: flex;
        flex-direction: column-reverse;



        .preloader-calendar-logo {
            max-width: 180px;
        }

        .preloader-calendar {

            &-inner {
                max-width: 100%;
            }

            &-time {
                height: 80px;
                width: 100%;
            }

            &-day {
                max-width: 120px;
                width: 100%;
                font-size: 36px;
            }


            &-week {
                max-width: 180px;
                width: 100%;
                font-size: 36px;

            }
        }

        .preloader-loading {
            font-size: 26px;
        }

        .preloader-sekun {
            height: 40%;

            &::before {
                width: 8px;
            }

            &::after {
                height: 6px;
            }
        }

        .preloader-calendar-hours,
        .preloader-calendar-minutes {
            font-size: 40px;
        }

        .preloader-calendar-days {
            gap: 40px;
        }

        .preloader-calendar-day,
        .preloader-calendar-week,
        .preloader-calendar-year {
            font-size: 26px;
            width: auto;
        }

        .preloader-numbers .preloader-num {
            font-size: 100px;
            height: 27vh;
        }
    }
}