mixin about()
    section.about-project#about 
        .ap-con.container 
            .registration-panel 
                h1.register-info.formInput 
                    | DETAILED INFORMATION 
                    | ABOUT the PROJECT 
                p.checked-text 
                    span 
                        img(src='@img/checked.svg' alt='') 
                        |  Lifestyle 
                    span 
                        img(src='@img/checked.svg' alt='') 
                        |  Masterplan 
                    span 
                        img(src='@img/checked.svg' alt='') 
                        |  Information about stores 
                form(action='').form 
                    label(for='name') 
                    input#name.input-text.formInput(type='text' name='name' placeholder='Your name')
                    label(for='mail')
                    input#mail.input-text.formInput(type='text' name='mail' placeholder='Your mail')
                    label(for='phone_number')
                    input#phone_number.input-text.formInput(type='tel' name='mail' placeholder='Phone number')
                    .lower-btn-con.formInput
                        input.submit(type='submit' value='Enquire')
                        a.about-project-btn
                            svg(width='19' height='16' viewbox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M2.01651 7.93674C2.01651 7.93674 10.5613 4.33783 13.5247 3.07057C14.6608 2.5637 18.5133 0.941596 18.5133 0.941596C18.5133 0.941596 20.2915 0.231987 20.1433 1.9554C20.0938 2.66508 19.6987 5.14882 19.3036 7.83537C18.7109 11.6371 18.0688 15.7936 18.0688 15.7936C18.0688 15.7936 17.97 16.9595 17.1304 17.1622C16.2907 17.365 14.9077 16.4526 14.6608 16.2498C14.4632 16.0978 10.9564 13.8167 9.67222 12.7015C9.32646 12.3974 8.93135 11.7892 9.72157 11.0795C11.4997 9.40676 13.6235 7.32851 14.9077 6.01059C15.5004 5.40228 16.0931 3.98299 13.6235 5.7064C10.1167 8.19021 6.65933 10.5219 6.65933 10.5219C6.65933 10.5219 5.86904 11.0288 4.38731 10.5726C2.90551 10.1164 1.1768 9.50813 1.1768 9.50813C1.1768 9.50813 -0.0085361 8.7478 2.01651 7.93674Z')
                        a.about-project-btn
                            svg(width="20" height="21" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0.832031 21.4015L2.33873 15.7992C1.12362 13.6168 0.737561 11.0702 1.25141 8.62658C1.76526 6.18298 3.14454 4.00633 5.13617 2.49605C7.12779 0.985768 9.59815 0.243165 12.0939 0.404509C14.5897 0.565852 16.9435 1.62032 18.7234 3.37441C20.5033 5.12851 21.5899 7.46457 21.7838 9.95392C21.9777 12.4433 21.2659 14.919 19.779 16.9266C18.2921 18.9343 16.1299 20.3394 13.6891 20.884C11.2482 21.4285 8.6926 21.0761 6.49106 19.8913L0.832031 21.4015ZM6.76393 17.7949L7.11391 18.0022C8.70853 18.9458 10.571 19.3363 12.4111 19.1128C14.2512 18.8893 15.9656 18.0644 17.2871 16.7666C18.6086 15.4688 19.4629 13.7711 19.717 11.9379C19.9711 10.1048 19.6106 8.23922 18.6918 6.63195C17.773 5.02468 16.3474 3.766 14.6372 3.05204C12.927 2.33809 11.0283 2.20898 9.23696 2.68483C7.4456 3.16067 5.86223 4.21474 4.73358 5.68278C3.60494 7.15083 2.99442 8.95037 2.99717 10.801C2.99567 12.3354 3.42075 13.8402 4.22508 15.1478L4.44456 15.509L3.60223 18.6359L6.76393 17.7949Z")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M15.2565 12.2426C15.0513 12.0774 14.8111 11.9612 14.5541 11.9027C14.2971 11.8442 14.0301 11.845 13.7735 11.9051C13.3879 12.065 13.1388 12.669 12.8897 12.9711C12.8371 13.0435 12.7599 13.0942 12.6726 13.1139C12.5852 13.1335 12.4936 13.1206 12.4151 13.0777C11.0035 12.5257 9.8203 11.5135 9.05765 10.2054C8.9926 10.1238 8.96182 10.0202 8.97178 9.91635C8.98173 9.81252 9.03166 9.71659 9.11104 9.64877C9.38891 9.37415 9.59293 9.034 9.70423 8.65979C9.72894 8.24703 9.63422 7.83588 9.43136 7.47538C9.27454 6.96996 8.97607 6.51992 8.57124 6.17844C8.36243 6.08469 8.13092 6.05325 7.90462 6.08793C7.67832 6.12261 7.4669 6.22191 7.29588 6.37387C6.99897 6.62961 6.7633 6.94858 6.60623 7.3073C6.44916 7.66602 6.37469 8.05534 6.3883 8.44659C6.38921 8.66631 6.41711 8.88508 6.47135 9.09802C6.60909 9.60963 6.82092 10.0984 7.10013 10.5489C7.30157 10.894 7.52137 11.2281 7.75857 11.5498C8.52944 12.6062 9.49846 13.5033 10.6118 14.191C11.1705 14.5405 11.7676 14.8246 12.3914 15.0379C13.0393 15.3311 13.7547 15.4436 14.4616 15.3636C14.8644 15.3027 15.246 15.144 15.5728 14.9013C15.8997 14.6586 16.1618 14.3394 16.3361 13.9719C16.4385 13.7498 16.4696 13.5016 16.4251 13.2612C16.3183 12.7697 15.6599 12.4795 15.2565 12.2426Z")
                        a.about-project-btn.phone-btn
                            svg(viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M16.543 11.6722L12.6957 10.0316C12.4972 9.94261 12.2793 9.90571 12.0625 9.92437C11.8458 9.94303 11.6374 10.0166 11.457 10.1382L9.39805 11.5081C8.14317 10.8987 7.12716 9.88843 6.51055 8.63705L7.87227 6.55346C7.99305 6.37289 8.06682 6.16501 8.08687 5.9487C8.10693 5.73238 8.07264 5.51448 7.98711 5.31479L6.33828 1.46752C6.22323 1.20774 6.02841 0.99136 5.78209 0.849762C5.53577 0.708165 5.25075 0.64871 4.96836 0.680021C3.8606 0.825137 2.84323 1.36758 2.10541 2.20651C1.36758 3.04543 0.959494 4.12374 0.957031 5.24096C0.957031 11.7542 6.25625 17.0535 12.7695 17.0535C13.8867 17.051 14.9651 16.6429 15.804 15.9051C16.6429 15.1673 17.1854 14.1499 17.3305 13.0421C17.3618 12.7597 17.3023 12.4747 17.1607 12.2284C17.0191 11.9821 16.8028 11.7873 16.543 11.6722Z')
            .book
                picture
                    source(srcset='@img/broshure_book.png' type='image/png')
                    img(src='@img/broshure_book.png' alt='' draggable='false').book-img