mixin book() 
    section.book-container 
        .book-sticky 
            img(src="@img/book.png") 
            .toning 
            .sticky-bg
                picture
                    source(srcset='@img/subtract-2.png' type='image/png')
                    img(src='@img/subtract-2.png' alt='' draggable='false')
            .text
                p PAY 10%
                | TO BOOK A UNIT