mixin book() 
    section.book-container 
        .sticky-bg
            .sticky-bg-img
                picture
                    source(srcset='@img/book.png' type='image/png')
                    img(src='@img/book.png' alt='' draggable='false').desktop

            .sticky-bg-substract
                img(src="@img/subtract-mob.svg", alt="")
        .sticky-text 
            p PAY 20%
            | TO BOOK A UNIT