mixin broshure()
    section.broshure-con#broshureContainer
        .blur.broshure-close
        .popup
            .popup__bg
                video(muted='' loop='' autoplay='')
                    source(src='./files/banner-video.mp4' type='video/mp4')
                .toning
            .popup__container
                .popup__text
                    p Have a <span>questions</span>?
                    p We would love <br />to <span>help</span>.
                .popup__panel
                    .popup-close.broshure-close
                        <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.1213 14.9995L30.5713 2.5682C30.8105 2.27676 30.9328 1.90677 30.9143 1.53019C30.8958 1.15361 30.7379 0.797372 30.4713 0.53077C30.2047 0.264168 29.8484 0.106262 29.4718 0.0877673C29.0953 0.0692722 28.7253 0.19151 28.4338 0.430705L16.0026 12.8807L3.57133 0.430705C3.27989 0.19151 2.90989 0.0692722 2.53331 0.0877673C2.15673 0.106262 1.8005 0.264168 1.53389 0.53077C1.26729 0.797372 1.10939 1.15361 1.09089 1.53019C1.0724 1.90677 1.19463 2.27676 1.43383 2.5682L13.8838 14.9995L1.43383 27.4307C1.15216 27.7151 0.994141 28.0992 0.994141 28.4995C0.994141 28.8997 1.15216 29.2838 1.43383 29.5682C1.72054 29.8454 2.10376 30.0004 2.50258 30.0004C2.9014 30.0004 3.28462 29.8454 3.57133 29.5682L16.0026 17.1182L28.4338 29.5682C28.7205 29.8454 29.1038 30.0004 29.5026 30.0004C29.9014 30.0004 30.2846 29.8454 30.5713 29.5682C30.853 29.2838 31.011 28.8997 31.011 28.4995C31.011 28.0992 30.853 27.7151 30.5713 27.4307L18.1213 14.9995Z" fill="white"/>
                        </svg>
                    img(src="@img/logo.svg").popup__logo
                    .popup-panel__container
                        p.popup-panel__title Contact us
                        label(for='popup-name') Full name
                        input#popup-name.popup__input(type='text' placeholder='Your name' name='name')
                        label(for='popup-mail') E-mail address
                        input#popup-mail.popup__input(type='text' name='mail' placeholder='Your mail')
                        label(for='popup-phone_number') Phone number
                        input#popup-phone_number.popup__input(type='tel' name='mail' placeholder='Phone number')
                        .popup__lower
                            input.popup__submit(type='submit' value='Enquire')
                            a.popup__btns(href='#')
                                <svg width="19" height="17" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.68448 8.06174C1.68448 8.06174 10.2292 4.46283 13.1927 3.19557C14.3288 2.6887 18.1813 1.0666 18.1813 1.0666C18.1813 1.0666 19.9594 0.356987 19.8112 2.0804C19.7618 2.79008 19.3667 5.27382 18.9716 7.96037C18.3788 11.7621 17.7368 15.9186 17.7368 15.9186C17.7368 15.9186 17.638 17.0845 16.7983 17.2872C15.9587 17.49 14.5757 16.5776 14.3288 16.3748C14.1311 16.2228 10.6244 13.9417 9.34018 12.8265C8.99443 12.5224 8.59932 11.9142 9.38954 11.2045C11.1677 9.53176 13.2915 7.45351 14.5757 6.13559C15.1684 5.52728 15.7611 4.10799 13.2915 5.8314C9.78472 8.31521 6.3273 10.6469 6.3273 10.6469C6.3273 10.6469 5.53701 11.1538 4.05528 10.6976C2.57348 10.2414 0.844764 9.63313 0.844764 9.63313C0.844764 9.63313 -0.340567 8.8728 1.68448 8.06174Z" fill="white"/>
                                </svg>
                            a.popup__btns(href='#')
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 21.5265L2.0067 15.9242C0.791585 13.7418 0.40553 11.1952 0.919379 8.75158C1.43323 6.30798 2.81251 4.13133 4.80413 2.62105C6.79575 1.11077 9.26612 0.368165 11.7619 0.529509C14.2577 0.690852 16.6115 1.74532 18.3914 3.49941C20.1713 5.25351 21.2579 7.58957 21.4518 10.0789C21.6456 12.5683 20.9338 15.044 19.447 17.0516C17.9601 19.0593 15.7978 20.4644 13.357 21.009C10.9162 21.5535 8.36056 21.2011 6.15903 20.0163L0.5 21.5265ZM6.4319 17.9199L6.78188 18.1272C8.3765 19.0708 10.239 19.4613 12.0791 19.2378C13.9192 19.0143 15.6336 18.1894 16.9551 16.8916C18.2766 15.5938 19.1309 13.8961 19.385 12.0629C19.6391 10.2298 19.2786 8.36422 18.3598 6.75695C17.441 5.14968 16.0154 3.891 14.3052 3.17704C12.595 2.46309 10.6963 2.33398 8.90493 2.80983C7.11357 3.28567 5.5302 4.33974 4.40155 5.80778C3.27291 7.27583 2.66239 9.07537 2.66514 10.926C2.66364 12.4604 3.08872 13.9652 3.89304 15.2728L4.11253 15.634L3.2702 18.7609L6.4319 17.9199Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9245 12.3676C14.7193 12.2024 14.4791 12.0862 14.2221 12.0277C13.9651 11.9692 13.6981 11.97 13.4415 12.0301C13.0559 12.19 12.8068 12.794 12.5576 13.0961C12.5051 13.1685 12.4279 13.2192 12.3405 13.2389C12.2532 13.2585 12.1616 13.2456 12.0831 13.2027C10.6715 12.6507 9.48827 11.6385 8.72562 10.3304C8.66057 10.2488 8.62979 10.1452 8.63974 10.0414C8.6497 9.93752 8.69963 9.84159 8.77901 9.77377C9.05688 9.49915 9.2609 9.159 9.3722 8.78479C9.39691 8.37203 9.30219 7.96088 9.09933 7.60038C8.9425 7.09496 8.64404 6.64492 8.23921 6.30344C8.0304 6.20969 7.79889 6.17825 7.57259 6.21293C7.34629 6.24761 7.13487 6.34691 6.96385 6.49887C6.66694 6.75461 6.43127 7.07358 6.2742 7.4323C6.11713 7.79102 6.04266 8.18034 6.05627 8.57159C6.05718 8.79131 6.08507 9.01008 6.13931 9.22302C6.27706 9.73463 6.48888 10.2234 6.76809 10.6739C6.96954 11.019 7.18933 11.3531 7.42654 11.6748C8.19741 12.7312 9.16642 13.6283 10.2798 14.316C10.8385 14.6655 11.4356 14.9496 12.0593 15.1629C12.7073 15.4561 13.4227 15.5686 14.1296 15.4886C14.5323 15.4277 14.9139 15.269 15.2408 15.0263C15.5677 14.7836 15.8298 14.4644 16.0041 14.0969C16.1065 13.8748 16.1375 13.6266 16.093 13.3862C15.9863 12.8947 15.3278 12.6045 14.9245 12.3676Z" fill="white"/>
                                </svg>
                            a.popup__btns(href='#')
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.2109 11.9925L12.3637 10.3519C12.1652 10.2629 11.9472 10.226 11.7305 10.2447C11.5138 10.2633 11.3054 10.3369 11.125 10.4585L9.06602 11.8285C7.81114 11.219 6.79513 10.2087 6.17852 8.95736L7.54023 6.87377C7.66102 6.6932 7.73479 6.48532 7.75484 6.26901C7.7749 6.05269 7.74061 5.8348 7.65508 5.6351L6.00625 1.78783C5.89119 1.52805 5.69638 1.31167 5.45006 1.17007C5.20374 1.02848 4.91872 0.969022 4.63633 1.00033C3.52857 1.14545 2.5112 1.6879 1.77337 2.52682C1.03554 3.36574 0.627463 4.44405 0.625 5.56127C0.625 12.0746 5.92422 17.3738 12.4375 17.3738C13.5547 17.3713 14.633 16.9632 15.472 16.2254C16.3109 15.4876 16.8533 14.4702 16.9984 13.3624C17.0297 13.0801 16.9703 12.795 16.8287 12.5487C16.6871 12.3024 16.4707 12.1076 16.2109 11.9925Z" fill="white"/>
                                </svg>
        .popup-mobile
            h2 CONTACT US
            p DETAILED INFORMATION <br />ABOUT the PROJECT
            p.checked-text
                span
                    img(src='@img/checked.svg' alt='')
                    |  Lifestyle
                span
                    img(src='@img/checked.svg' alt='')
                    |  Masterplan
                span
                    img(src='@img/checked.svg' alt='')
                    |  Information about stores
            .popup-form
                input.menu__input-text(type='text' placeholder='Your name' name='name')
                input.menu__input-text(type='text' name='mail' placeholder='Your mail')
                input.menu__input-text(type='tel' name='mail' placeholder='Phone number')
            .popup-mobile__lower
                input.popup-mobile__submit(type='submit' value='Enquire')
                a.popup-mobile__btns(href='#')
                    <svg width="19" height="17" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.68448 8.06174C1.68448 8.06174 10.2292 4.46283 13.1927 3.19557C14.3288 2.6887 18.1813 1.0666 18.1813 1.0666C18.1813 1.0666 19.9594 0.356987 19.8112 2.0804C19.7618 2.79008 19.3667 5.27382 18.9716 7.96037C18.3788 11.7621 17.7368 15.9186 17.7368 15.9186C17.7368 15.9186 17.638 17.0845 16.7983 17.2872C15.9587 17.49 14.5757 16.5776 14.3288 16.3748C14.1311 16.2228 10.6244 13.9417 9.34018 12.8265C8.99443 12.5224 8.59932 11.9142 9.38954 11.2045C11.1677 9.53176 13.2915 7.45351 14.5757 6.13559C15.1684 5.52728 15.7611 4.10799 13.2915 5.8314C9.78472 8.31521 6.3273 10.6469 6.3273 10.6469C6.3273 10.6469 5.53701 11.1538 4.05528 10.6976C2.57348 10.2414 0.844764 9.63313 0.844764 9.63313C0.844764 9.63313 -0.340567 8.8728 1.68448 8.06174Z" fill="white"/>
                    </svg>
                a.popup-mobile__btns(href='#')
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.5 21.5265L2.0067 15.9242C0.791585 13.7418 0.40553 11.1952 0.919379 8.75158C1.43323 6.30798 2.81251 4.13133 4.80413 2.62105C6.79575 1.11077 9.26612 0.368165 11.7619 0.529509C14.2577 0.690852 16.6115 1.74532 18.3914 3.49941C20.1713 5.25351 21.2579 7.58957 21.4518 10.0789C21.6456 12.5683 20.9338 15.044 19.447 17.0516C17.9601 19.0593 15.7978 20.4644 13.357 21.009C10.9162 21.5535 8.36056 21.2011 6.15903 20.0163L0.5 21.5265ZM6.4319 17.9199L6.78188 18.1272C8.3765 19.0708 10.239 19.4613 12.0791 19.2378C13.9192 19.0143 15.6336 18.1894 16.9551 16.8916C18.2766 15.5938 19.1309 13.8961 19.385 12.0629C19.6391 10.2298 19.2786 8.36422 18.3598 6.75695C17.441 5.14968 16.0154 3.891 14.3052 3.17704C12.595 2.46309 10.6963 2.33398 8.90493 2.80983C7.11357 3.28567 5.5302 4.33974 4.40155 5.80778C3.27291 7.27583 2.66239 9.07537 2.66514 10.926C2.66364 12.4604 3.08872 13.9652 3.89304 15.2728L4.11253 15.634L3.2702 18.7609L6.4319 17.9199Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9245 12.3676C14.7193 12.2024 14.4791 12.0862 14.2221 12.0277C13.9651 11.9692 13.6981 11.97 13.4415 12.0301C13.0559 12.19 12.8068 12.794 12.5576 13.0961C12.5051 13.1685 12.4279 13.2192 12.3405 13.2389C12.2532 13.2585 12.1616 13.2456 12.0831 13.2027C10.6715 12.6507 9.48827 11.6385 8.72562 10.3304C8.66057 10.2488 8.62979 10.1452 8.63974 10.0414C8.6497 9.93752 8.69963 9.84159 8.77901 9.77377C9.05688 9.49915 9.2609 9.159 9.3722 8.78479C9.39691 8.37203 9.30219 7.96088 9.09933 7.60038C8.9425 7.09496 8.64404 6.64492 8.23921 6.30344C8.0304 6.20969 7.79889 6.17825 7.57259 6.21293C7.34629 6.24761 7.13487 6.34691 6.96385 6.49887C6.66694 6.75461 6.43127 7.07358 6.2742 7.4323C6.11713 7.79102 6.04266 8.18034 6.05627 8.57159C6.05718 8.79131 6.08507 9.01008 6.13931 9.22302C6.27706 9.73463 6.48888 10.2234 6.76809 10.6739C6.96954 11.019 7.18933 11.3531 7.42654 11.6748C8.19741 12.7312 9.16642 13.6283 10.2798 14.316C10.8385 14.6655 11.4356 14.9496 12.0593 15.1629C12.7073 15.4561 13.4227 15.5686 14.1296 15.4886C14.5323 15.4277 14.9139 15.269 15.2408 15.0263C15.5677 14.7836 15.8298 14.4644 16.0041 14.0969C16.1065 13.8748 16.1375 13.6266 16.093 13.3862C15.9863 12.8947 15.3278 12.6045 14.9245 12.3676Z" fill="white"/>
                    </svg>
            p.close.broshure-close close