mixin floor()
    section#floor.section.floor
        .floor__body.container 
            h2.floor__title Floor plans
            .floor__tab
                button.floor__tab-item.active(type='button' data-target='#floor1') 1 bedroom
                button.floor__tab-item(type='button' data-target='#floor2') 2 bedrooms
                button.floor__tab-item(type='button' data-target='#floor3') 3 bedrooms
            #floor1.floor__content.active
                .swiper.floor__swiper
                    .floor__navigation
                        .floor__prev.swiper-button-prev
                            svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 14L1.5 7.5M1.5 7.5L8 1M1.5 7.5L16 7.5' stroke='black' stroke-width='2')
                        .floor__next.swiper-button-next
                            svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 14L14.5 7.5M14.5 7.5L8 1M14.5 7.5L2.84124e-07 7.5' stroke='black' stroke-width='2')
                    .swiper-wrapper
                        .floor__item.swiper-slide
                            .floor__item-img
                                picture
                                    source(srcset='@img/floor1_1.png' type='image/png')
                                    img(src='@img/floor1_1.png' alt='' draggable='false')
                            .floor__item-info
                                .floor__item-title Type 1
                                .floor__item-info-row 
                                    p.floor__item-info-p
                                        | Bedrooms:
                                        span 1
                                    p.floor__item-info-p
                                        | Total area:
                                        span 665 SQ FT
                                p.floor__item-label Prices, floor plans &amp; availabilities
                                button.floor__item-btn(type='button')
                                    | Download broshure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                        .floor__item.swiper-slide
                            .floor__item-img
                                picture
                                    source(srcset='@img/floor1_1.png' type='image/png')
                                    img(src='@img/floor1_1.png' alt='' draggable='false')
                            .floor__item-info
                                .floor__item-title Type 2
                                .floor__item-info-row 
                                    p.floor__item-info-p
                                        | Bedrooms:
                                        span 2
                                    p.floor__item-info-p
                                        | Total area:
                                        span 685 SQ FT
                                p.floor__item-label Prices, floor plans &amp; availabilities
                                button.floor__item-btn(type='button')
                                    | Download broshure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                        .floor__item.swiper-slide
                            .floor__item-img
                                picture
                                    source(srcset='@img/floor1_1.png' type='image/png')
                                    img(src='@img/floor1_1.png' alt='' draggable='false')
                            .floor__item-info
                                .floor__item-title Type 3
                                .floor__item-info-row
                                    p.floor__item-info-p
                                        | Bedrooms:
                                        span 2
                                    p.floor__item-info-p
                                        | Total area:
                                        span 685 SQ FT
                                p.floor__item-label Prices, floor plans &amp; availabilities
                                button.floor__item-btn(type='button')
                                    | Download broshure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
            #floor2.floor__content
                .swiper.floor__swiper
                    .floor__navigation
                        .floor__prev.swiper-button-prev
                            svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 14L1.5 7.5M1.5 7.5L8 1M1.5 7.5L16 7.5' stroke='black' stroke-width='2')
                        .floor__next.swiper-button-next
                            svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 14L14.5 7.5M14.5 7.5L8 1M14.5 7.5L2.84124e-07 7.5' stroke='black' stroke-width='2')
                    .swiper-wrapper
                        .floor__item.swiper-slide
                            .floor__item-img
                                picture
                                    source(srcset='@img/floor1_1.png' type='image/png')
                                    img(src='@img/floor1_1.png' alt='' draggable='false')
                            .floor__item-info
                                .floor__item-title Type 1
                                .floor__item-info-row
                                    p.floor__item-info-p
                                        | Bedrooms:
                                        span 1
                                    p.floor__item-info-p
                                        | Total area:
                                        span 665 SQ FT
                                p.floor__item-label Prices, floor plans &amp; availabilities
                                button.floor__item-btn(type='button')
                                    | Download broshure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
            #floor3.floor__content
                .swiper.floor__swiper
                    .floor__navigation
                        .floor__prev.swiper-button-prev
                            svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 14L1.5 7.5M1.5 7.5L8 1M1.5 7.5L16 7.5' stroke='black' stroke-width='2')
                        .floor__next.swiper-button-next
                            svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 14L14.5 7.5M14.5 7.5L8 1M14.5 7.5L2.84124e-07 7.5' stroke='black' stroke-width='2')
                    .swiper-wrapper
                        .floor__item.swiper-slide
                            .floor__item-img
                                picture
                                    source(srcset='@img/floor1_1.png' type='image/png')
                                    img(src='@img/floor1_1.png' alt='' draggable='false')
                            .floor__item-info
                                .floor__item-title Type 1
                                .floor__item-info-row
                                    p.floor__item-info-p
                                        | Bedrooms:
                                        span 1
                                    p.floor__item-info-p
                                        | Total area:
                                        span 665 SQ FT
                                p.floor__item-label Prices, floor plans &amp; availabilities
                                button.floor__item-btn(type='button')
                                    | Download broshure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                        .floor__item.swiper-slide
                            .floor__item-img
                                picture
                                    source(srcset='@img/floor1_1.png' type='image/png')
                                    img(src='@img/floor1_1.png' alt='' draggable='false')
                            .floor__item-info
                                .floor__item-title Type 2
                                .floor__item-info-row
                                    p.floor__item-info-p
                                        | Bedrooms:
                                        span 2
                                    p.floor__item-info-p
                                        | Total area:
                                        span 685 SQ FT
                                p.floor__item-label Prices, floor plans &amp; availabilities
                                button.floor__item-btn(type='button')
                                    | Download broshure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
