mixin gallery()
    .gallery#scroll-slide
        div.gallery-sliders#scroller
            div.gallery-slide--mob
                    .text
                        h2.title INTERIOR DESIGN
                        p.paragraph The architectural design of the building replicates a masterpiece necklace created by Fawaz Gruosi, the founder of de GRISOGONO. Unique to the design and the tower-duo is the deep, royal shade of emerald green, which will be a signature identity of this ultra-luxury residential complex.
            div.gallery-wrapper
                div.gallery-slide.first
                    .text
                        h2.title INTERIOR DESIGN
                        p.paragraph The architectural design of the building replicates a masterpiece necklace created by Fawaz Gruosi, the founder of de GRISOGONO. Unique to the design and the tower-duo is the deep, royal shade of emerald green, which will be a signature identity of this ultra-luxury residential complex.
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-2.png' type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-3.png' type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-4.png' type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-5.png' type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-4.png' type='image/png')
                            img(src='@img/gallery-4.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-2.png' type='image/png')
                            img(src='@img/gallery-2.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-4.png' type='image/png')
                            img(src='@img/gallery-4.png' data-fancybox alt='' draggable='false')
                div.last.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')

