mixin gallery()
    .gallery#scroll-slide
        div.gallery-sliders#scroller
            div.gallery-slide--mob
                    .text
                        h2.title INTERIOR DESIGN
                        p.paragraph Common areas of Harbour Lights are exclusively designed by De Grisogono. The project features flowing, captivating elements that enhance the ultra-luxurious feeling for the residents.
            div.gallery-wrapper
                div.gallery-slide.first
                    .text
                        h2.title INTERIOR DESIGN
                        p.paragraph Common areas of Harbour Lights are exclusively designed by De Grisogono. The project features flowing, captivating elements that enhance the ultra-luxurious feeling for the residents.
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-1.png' data-fancybox type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-2.png' data-fancybox type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-3.png' data-fancybox type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-4.png' data-fancybox type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
                div.gallery-slide
                    .slide-box
                        picture
                            source(srcset='@img/gallery-5.png' data-fancybox type='image/png')
                            img(src='@img/gallery-1.png' data-fancybox alt='' draggable='false')
            
