mixin header()
    header#header
        .header.container
            .header-left
                a(href="#").logo
                    img(src="@img/logo.svg" alt="logo")
                .menu-nav
                    .menu-nav__menu
                        .menu__lines
                            div
                        p Menu
                    .menu-nav__broshure.broshure-open Brochure

            a(data-number="+971 56 777-77-77")#number.header-number.show-number +971 56 XXX-XX-XX show number
    nav#menu.menu
        .menu-mobile
            video.menu__banner(muted='' loop='' autoplay='')
                source(src='./files/banner-video.mp4' type='video/mp4')
            .menu-mobile__content
                .top
                    .menu-back.menu-close
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1004 10.0919L1.21706 0.207031L0.5 0.924199L10.3834 10.8091L0.704341 20.4896L1.4214 21.2067L11.1004 11.5262L20.5777 21.0049L21.2947 20.2877L11.8175 10.8091L21.4991 1.12604L20.782 0.40887L11.1004 10.0919Z" fill="black"/>
                        </svg>
                    .menu-nav__broshure.broshure-open Broshure
                .mobile-nav
                    a.menu-con__btn.menu-close.active(href='#about') 
                        p About
                    a.menu-con__btn.menu-close(href='#location') 
                        p Location 
                    a.menu-con__btn.menu-close(href='#amenities') 
                        p Amenities 
                    a.menu-con__btn.menu-close(href='#gallery') 
                        p Gallery 
                    a.menu-con__btn.menu-close(href='#floorplans') 
                        p Floor plans 
                    a.menu-con__btn.menu-close(href='#developer') 
                        p reliable developer 
                    a.menu-con__btn.menu-close(href='#payment') 
                        p PAYMENT PLAN 
                    a(data-number="+971 56 777-77-77")#number.header-number.show-number +971 56 XXX-XX-XX show number
                    .mobile-nav__phone
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.8125 12.8492L13.4156 10.9742C13.1888 10.8725 12.9397 10.8303 12.692 10.8516C12.4443 10.8729 12.2061 10.9571 12 11.096L9.64687 12.6617C8.21273 11.9651 7.05158 10.8106 6.34687 9.3804L7.90312 6.99915C8.04116 6.79279 8.12547 6.55521 8.14839 6.308C8.17131 6.06078 8.13212 5.81175 8.03437 5.58353L6.15 1.18665C6.01851 0.88976 5.79586 0.642469 5.51435 0.480643C5.23284 0.318818 4.90711 0.250869 4.58437 0.286653C3.31837 0.452501 2.15566 1.07244 1.31243 2.03121C0.469194 2.98998 0.00281471 4.22233 0 5.49915C0 12.9429 6.05625 18.9992 13.5 18.9992C14.7768 18.9963 16.0092 18.53 16.9679 17.6867C17.9267 16.8435 18.5467 15.6808 18.7125 14.4148C18.7483 14.092 18.6803 13.7663 18.5185 13.4848C18.3567 13.2033 18.1094 12.9806 17.8125 12.8492Z" fill="black"/>
                        </svg>
        .menu__container
            .menu__leftSide
                video.menu__banner(muted='' loop='' autoplay='')
                    source(src='./files/banner-video.mp4' type='video/mp4')
                .menu__contactUs
                    .menu__logo
                        img(src='@img/logo.svg' alt='')
                        p
                            | New 
                            span eco
                            |  style in Dubai
                        form.menu__form(action='')
                            p.menu__contactUs-title Contact us
                            .menu-contactUs__title
                            label(for='menu-name') Full name
                            input#menu-name.menu__input-text(type='text' placeholder='Your name' name='name')
                            label(for='menu-mail') E-mail address
                            input#menu-mail.menu__input-text(type='text' name='mail' placeholder='Your mail')
                            label(for='menu-phone_number') Phone number
                            input#menu-phone_number.menu__input-text(type='tel' name='mail' placeholder='Phone number')
            
                            .menu__lower-btn-con
                                input.menu__submit(type='submit' value='Enquire')
                                a.menu__about-project-btn.telegram-btn(href='#')
                                    <svg width="19" height="17" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.68448 8.06174C1.68448 8.06174 10.2292 4.46283 13.1927 3.19557C14.3288 2.6887 18.1813 1.0666 18.1813 1.0666C18.1813 1.0666 19.9594 0.356987 19.8112 2.0804C19.7618 2.79008 19.3667 5.27382 18.9716 7.96037C18.3788 11.7621 17.7368 15.9186 17.7368 15.9186C17.7368 15.9186 17.638 17.0845 16.7983 17.2872C15.9587 17.49 14.5757 16.5776 14.3288 16.3748C14.1311 16.2228 10.6244 13.9417 9.34018 12.8265C8.99443 12.5224 8.59932 11.9142 9.38954 11.2045C11.1677 9.53176 13.2915 7.45351 14.5757 6.13559C15.1684 5.52728 15.7611 4.10799 13.2915 5.8314C9.78472 8.31521 6.3273 10.6469 6.3273 10.6469C6.3273 10.6469 5.53701 11.1538 4.05528 10.6976C2.57348 10.2414 0.844764 9.63313 0.844764 9.63313C0.844764 9.63313 -0.340567 8.8728 1.68448 8.06174Z" fill="white"/>
                                    </svg>
                                a.menu__about-project-btn(href='#')
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.5 21.5265L2.0067 15.9242C0.791585 13.7418 0.40553 11.1952 0.919379 8.75158C1.43323 6.30798 2.81251 4.13133 4.80413 2.62105C6.79575 1.11077 9.26612 0.368165 11.7619 0.529509C14.2577 0.690852 16.6115 1.74532 18.3914 3.49941C20.1713 5.25351 21.2579 7.58957 21.4518 10.0789C21.6456 12.5683 20.9338 15.044 19.447 17.0516C17.9601 19.0593 15.7978 20.4644 13.357 21.009C10.9162 21.5535 8.36056 21.2011 6.15903 20.0163L0.5 21.5265ZM6.4319 17.9199L6.78188 18.1272C8.3765 19.0708 10.239 19.4613 12.0791 19.2378C13.9192 19.0143 15.6336 18.1894 16.9551 16.8916C18.2766 15.5938 19.1309 13.8961 19.385 12.0629C19.6391 10.2298 19.2786 8.36422 18.3598 6.75695C17.441 5.14968 16.0154 3.891 14.3052 3.17704C12.595 2.46309 10.6963 2.33398 8.90493 2.80983C7.11357 3.28567 5.5302 4.33974 4.40155 5.80778C3.27291 7.27583 2.66239 9.07537 2.66514 10.926C2.66364 12.4604 3.08872 13.9652 3.89304 15.2728L4.11253 15.634L3.2702 18.7609L6.4319 17.9199Z" fill="white"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9245 12.3676C14.7193 12.2024 14.4791 12.0862 14.2221 12.0277C13.9651 11.9692 13.6981 11.97 13.4415 12.0301C13.0559 12.19 12.8068 12.794 12.5576 13.0961C12.5051 13.1685 12.4279 13.2192 12.3405 13.2389C12.2532 13.2585 12.1616 13.2456 12.0831 13.2027C10.6715 12.6507 9.48827 11.6385 8.72562 10.3304C8.66057 10.2488 8.62979 10.1452 8.63974 10.0414C8.6497 9.93752 8.69963 9.84159 8.77901 9.77377C9.05688 9.49915 9.2609 9.159 9.3722 8.78479C9.39691 8.37203 9.30219 7.96088 9.09933 7.60038C8.9425 7.09496 8.64404 6.64492 8.23921 6.30344C8.0304 6.20969 7.79889 6.17825 7.57259 6.21293C7.34629 6.24761 7.13487 6.34691 6.96385 6.49887C6.66694 6.75461 6.43127 7.07358 6.2742 7.4323C6.11713 7.79102 6.04266 8.18034 6.05627 8.57159C6.05718 8.79131 6.08507 9.01008 6.13931 9.22302C6.27706 9.73463 6.48888 10.2234 6.76809 10.6739C6.96954 11.019 7.18933 11.3531 7.42654 11.6748C8.19741 12.7312 9.16642 13.6283 10.2798 14.316C10.8385 14.6655 11.4356 14.9496 12.0593 15.1629C12.7073 15.4561 13.4227 15.5686 14.1296 15.4886C14.5323 15.4277 14.9139 15.269 15.2408 15.0263C15.5677 14.7836 15.8298 14.4644 16.0041 14.0969C16.1065 13.8748 16.1375 13.6266 16.093 13.3862C15.9863 12.8947 15.3278 12.6045 14.9245 12.3676Z" fill="white"/>
                                    </svg>
                        a(data-number="+971 56 777-77-77")#menu__number.menu__number.show-number +971 56XXX-XX-XX show number
            .menu__rightSide
                .menu-con
                    a.menu-con__btn.menu-close.active(href='#')
                        p Menu
                    a.menu-con__btn.menu-close(href='#')
                        p About
                    a.menu-con__btn.menu-close(href='#')
                        p Location
                    a.menu-con__btn.menu-close(href='#')
                        p Amenities
                    a.menu-con__btn.menu-close(href='#')
                        p Gallery
                    a.menu-con__btn.menu-close(href='#')
                        p Floor plans
                    a.menu-con__btn.menu-close(href='#')
                        p reliable developer
                    a.menu-con__btn.menu-close(href='#')
                        p PAYMENT PLAN
                .top-nav
                    #menu-back.top-nav__btn.menu-close
                        svg(width='42' height='41' viewbox='0 0 42 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M23.8284 20.0019L40.4284 3.42688C40.7474 3.03829 40.9104 2.54496 40.8857 2.04285C40.861 1.54075 40.6505 1.06577 40.295 0.710298C39.9395 0.354828 39.4646 0.144287 38.9625 0.119627C38.4604 0.094967 37.967 0.257951 37.5784 0.576877L21.0034 17.1769L4.42844 0.576877C4.03985 0.257951 3.54652 0.094967 3.04441 0.119627C2.54231 0.144287 2.06733 0.354828 1.71186 0.710298C1.35639 1.06577 1.14585 1.54075 1.12119 2.04285C1.09653 2.54496 1.25951 3.03829 1.57844 3.42688L18.1784 20.0019L1.57844 36.5769C1.20287 36.9561 0.992188 37.4682 0.992188 38.0019C0.992188 38.5356 1.20287 39.0477 1.57844 39.4269C1.96072 39.7965 2.47167 40.0031 3.00344 40.0031C3.5352 40.0031 4.04616 39.7965 4.42844 39.4269L21.0034 22.8269L37.5784 39.4269C37.9607 39.7965 38.4717 40.0031 39.0034 40.0031C39.5352 40.0031 40.0462 39.7965 40.4284 39.4269C40.804 39.0477 41.0147 38.5356 41.0147 38.0019C41.0147 37.4682 40.804 36.9561 40.4284 36.5769L23.8284 20.0019Z' fill='white')
                    .top-nav__btn
                        svg(width='50' height='51' viewbox='0 0 50 51' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M47.5 33.6029L35.775 28.6029C35.17 28.3318 34.5059 28.2193 33.8454 28.2762C33.1849 28.3331 32.5497 28.5574 32 28.9279L25.725 33.1029C21.9006 31.2455 18.8042 28.1667 16.925 24.3529L21.075 18.0029C21.4431 17.4526 21.6679 16.8191 21.729 16.1599C21.7902 15.5006 21.6857 14.8366 21.425 14.228L16.4 2.50295C16.0494 1.71123 15.4556 1.05179 14.7049 0.620258C13.9543 0.188722 13.0856 0.00752679 12.225 0.102949C8.84898 0.54521 5.74843 2.19838 3.49981 4.7551C1.25118 7.31181 0.00750589 10.5981 0 14.0029C0 33.853 16.15 50.0029 36 50.0029C39.4049 49.9954 42.6911 48.7518 45.2479 46.5031C47.8046 44.2545 49.4577 41.154 49.9 37.778C49.9954 36.9173 49.8142 36.0487 49.3827 35.298C48.9512 34.5473 48.2917 33.9536 47.5 33.6029Z' fill='white')