mixin intro()
    section.intro#intro
        #swiper-mobile
            .swiper.mySwiper
                .swiper-wrapper
                    .swiper-slide
                        .toning
                        video.banner-video(muted='' loop='' autoplay='')
                            source(src='./files/banner-video.mp4' type='video/mp4')
                    .swiper-slide
                        .toning
                        video.banner-video(muted='' loop='' autoplay='')
                            source(src='./files/banner-video.mp4' type='video/mp4')
                    .swiper-slide
                        .toning
                        video.banner-video(muted='' loop='' autoplay='')
                            source(src='./files/banner-video.mp4' type='video/mp4')
            .learn-more__block
                p STUNNING TOWER <span>IN AL SAFA</span>
                button learn more
        #swiper.swiper.mySwiper
            .swiper-wrapper.swiperWrapper
                .swiper-slide
                    video.banner-video(muted='' loop='' autoplay='')
                        source(src='./files/banner-video.mp4' type='video/mp4')
                    .slide-bg
                        .slide-container
                            .slide-learn-more
                                p
                                    | STUNNING TOWER 
                                    span.learn-more-span IN AL SAFA
                                .learn-more-btn
                                    a(href='#') Learn more
                    .view-project
                        a(href='#')
                            | view project
                            svg#arrow-svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6 18L18 6' stroke='white' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round')
                                path(d='M8.25 6H18V15.75' stroke='white' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round')
                .swiper-slide
                    video.banner-video(muted='' loop='' autoplay='')
                        source(src='./files/banner-video.mp4' type='video/mp4')
                    .slide-bg
                        .slide-container
                            .slide-learn-more
                                p
                                    | STUNNING TOWER
                                    span.learn-more-span IN AL SAFA
                                .learn-more-btn
                                    a(href='#') Learn more
                    .view-project
                        a(href='#')
                            | view project
                            svg#arrow-svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6 18L18 6' stroke='white' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round')
                                path(d='M8.25 6H18V15.75' stroke='white' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round')
                .swiper-slide
                    video.banner-video(muted='' loop='' autoplay='')
                        source(src='./files/banner-video.mp4' type='video/mp4')
                    .slide-bg
                        .slide-container
                            .slide-learn-more
                                p
                                    | STUNNING TOWER
                                    span.learn-more-span IN AL SAFA
                                .learn-more-btn
                                    a(href='#') Learn more
                    .view-project
                        a(href='#')
                            | view project
                            svg#arrow-svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6 18L18 6' stroke='white' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round')
                                path(d='M8.25 6H18V15.75' stroke='white' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round')
            .swiper-button-prev
            .swiper-button-next