mixin payment()
    section.payment#payment
        .container
            h1.payment-title PAYMENT PLAN
            .percents
                .percents-item
                    h3 <span class="numbers" data-number="20">0</span>%
                    p On booking
                .percents-item
                    h3 <span class="numbers" data-number="80">0</span>%
                    p During construction
            h2.partners-title MORTGAGE SOLUTION PARTNERS
            .partners
                div.partners-item
                    picture
                        source(srcset='@img/partner-1-1.png' type='image/png')
                        img.partner(src='@img/partner-1-1.png' alt='' draggable='false')
                div.partners-item
                    picture
                        source(srcset='@img/partner-1-2.png' type='image/png')
                        img(src='@img/partner-1-2.png' alt='' draggable='false')
                div.partners-item
                    picture
                        source(srcset='@img/partner-1-3.png' type='image/png')
                        img(src='@img/partner-1-3.png' alt='' draggable='false')
                div.partners-item
                    picture
                        source(srcset='@img/partner-1-4.png' type='image/png')
                        img(src='@img/partner-1-4.png' alt='' draggable='false')
                div.partners-item
                    picture
                        source(srcset='@img/partner-1-5.png' type='image/png')
                        img(src='@img/partner-1-5.png' alt='' draggable='false')
                div.partners-item
                    picture
                        source(srcset='@img/partner-1-6.png' type='image/png')
                        img(src='@img/partner-1-6.png' alt='' draggable='false')