mixin place()
    section.places-pic#amenities
        .pp-con
            h1.places-title Make your vision become a reality
            p.places-paragraph
                | Harbour Lights is a luxurious residential building located in the heart of Dubai Maritime City, offering spacious and stylish apartments, panoramic views, and a unique floating pool.
            .places-pics-con
                .places-top
                    .places-pic-box.box-left-side
                        .img-box
                            picture
                                source(srcset='@img/places-1.png' type='image/png')
                                img(src='@img/places-1.png' alt='' draggable='false')
                            .broshure-bg
                                a.broshure.broshure-open
                                    | Download brochure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                        .places-con
                            .places-img-number 01
                            .places-img-text
                                p.place-img-title Floating pool 
                                p.place-img-paragraph
                                    | The stunning pool is accessed via a walkway that extends over the water, presenting breathtaking views of the harbor and skyline.
                            .clear
                    .places-pic-box.box-right-side
                        .img-box
                            picture
                                source(srcset='@img/places-2.png' type='image/png')
                                img(src='@img/places-2.png' alt='' draggable='false')
                            .broshure-bg
                                a.broshure.broshure-open
                                    | Download brochure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                        .places-con
                            .places-img-number 02
                            .places-img-text
                                p.place-img-title Panoramic views
                                p.place-img-paragraph
                                    | Floor-to-ceiling windows open scenic views of the gorgeous waterfront and the city.
                            .clear
                .places-bottom
                    .places-pic-box.box-left-side
                        .img-box
                            picture
                                source(srcset='@img/places-3.png' type='image/png')
                                img(src='@img/places-3.png' alt='' draggable='false')
                            .broshure-bg 
                                a.broshure.broshure-open
                                    | Download brochure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                        .places-con
                            .places-img-number 03
                            .places-img-text
                                p.place-img-title Maritime centre
                                p.place-img-paragraph
                                    | The unique location provides numerous advantages, including easy access to recreational, cultural, and economic opportunities.
                            .clear
                    .places-pic-box.box-right-side
                        .img-box
                            picture
                                source(srcset='@img/places-4.png' type='image/png')
                                img(src='@img/places-4.png' alt='' draggable='false')
                            .broshure-bg
                                a.broshure.broshure-open
                                    | Download brochure
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.49951 12V3.75C4.49951 3.55109 4.57853 3.36032 4.71918 3.21967C4.85983 3.07902 5.0506 3 5.24951 3H14.2495L19.4995 8.25V12' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M14.2495 3V8.25H19.4995' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M4.49951 18.75H5.99951C6.39734 18.75 6.77887 18.592 7.06017 18.3107C7.34148 18.0294 7.49951 17.6478 7.49951 17.25C7.49951 16.8522 7.34148 16.4706 7.06017 16.1893C6.77887 15.908 6.39734 15.75 5.99951 15.75H4.49951V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M20.2495 15.75H17.6245V20.25' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M19.8745 18.375H17.6245' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                                        path(d='M11.9995 20.25C12.5962 20.25 13.1685 20.0129 13.5905 19.591C14.0125 19.169 14.2495 18.5967 14.2495 18C14.2495 17.4033 14.0125 16.831 13.5905 16.409C13.1685 15.9871 12.5962 15.75 11.9995 15.75H10.687V20.25H11.9995Z' stroke='black' stroke-width='0.994186' stroke-linecap='round' stroke-linejoin='round')
                        .places-con
                            .places-img-number 04
                            .places-img-text
                                p.place-img-title Exclusive design
                                p.place-img-paragraph
                                    | From the opulent lobby to the exterior accents, De Grisogono's attention to details is evident throughout the luxurious Harbour Lights.
                            .clear