mixin twobutone()
    section.towers
        .twr-con
            .twr-sticky
                .twr-title
                    picture
                        source(srcset='@img/subtract-1.png' type='image/png')
                        img(src='@img/subtract-1.png' alt='' draggable='false').desktop
                    picture
                        source(srcset='@img/subtract-1.2.svg' type='image/svg')
                        img(src='@img/subtract-1.2.svg' alt='' draggable='false').mobile
                .twr-slider
                    p.twr-slider__text Dubai Maritime City is more than just a hub of industry - it's also a place where people can live, work, and enjoy a dynamic, urban lifestyle. <br /><br />Magnificent surroundings of Dubai Maritime City are complemented by a developed infrastructure that includes activities such as yachting, shopping and visiting luxurious restaurants.
                    .swiper.mySwiper.twrSwiper
                        .swiper-wrapper.twr-wrapper
                            .swiper-slide
                                img(src='@img/autoSlider-1.png' alt='' draggable='false').desktop
                                img(src='@img/autoSlider-1.2.png' alt='' draggable='false').mobile
                                .swiper-slide__text Dubai Maritime City is more than just a hub of industry - it's also a place where people can live, work, and enjoy a dynamic, urban lifestyle.
                                .toning
                            .swiper-slide
                                img(src='@img/autoSlider-2.png' alt='' draggable='false').desktop
                                img(src='@img/autoSlider-2.2.png' alt='' draggable='false').mobile
                                .swiper-slide__text Magnificent surroundings of Dubai Maritime City are complemented by a developed infrastructure that includes activities such as yachting, shopping and visiting luxurious restaurants.
                                .toning                                            
                        .swiper-pagination
        .map-title
            p A COMFORTABLE PLACE <br />FOR LIVING
    section.map#location  
        a(href="https://goo.gl/maps/S2UxPgJkbCgnjP5D7" target="_blank").map__link  
            <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="84" height="84" rx="42" fill="white"/>
                <path d="M61.4207 42.4592C61.4207 41.0551 61.3107 39.6509 61.0905 38.2754H42.4038V46.2132H53.1094C52.6691 48.7636 51.238 51.0561 49.1464 52.4889V57.647H55.5313C59.2741 54.0649 61.4207 48.7636 61.4207 42.4592Z" fill="#4285F4"/>
                <path d="M42.4046 62.6333C47.7436 62.6333 52.2563 60.7991 55.5313 57.647L49.1464 52.4889C47.3576 53.7497 45.0741 54.4663 42.4046 54.4663C37.2306 54.4663 32.8548 50.827 31.2861 45.9555H24.7086V51.2855C28.0662 58.2489 34.9189 62.6333 42.4046 62.6333Z" fill="#34A853"/>
                <path d="M31.2861 45.9555C30.4604 43.4051 30.4611 40.6253 31.2869 38.0463V32.7449H24.7084C21.8733 38.5621 21.8733 45.4395 24.7084 51.2567L31.2861 45.9555Z" fill="#FBBC04"/>
                <path d="M42.4046 29.5354C45.2392 29.4781 47.9638 30.5957 50.0003 32.6303L55.6696 26.7271C52.0644 23.2311 47.3308 21.3111 42.4046 21.3684C34.9189 21.3684 28.0659 25.7815 24.7084 32.7449L31.2861 38.0749C32.8548 33.1747 37.2306 29.5354 42.4046 29.5354Z" fill="#EA4335"/>
            </svg>
        p.map__text Slide to left to see more
        #map1.bg-map.active
            .bg-map__wrap 
                img(src='@img/maps-1.png' alt='') 
        #map2.bg-map
            .bg-map__wrap 
                img(src='@img/maps-2.png' alt='')
        #map3.bg-map
            .bg-map__wrap 
                img(src='@img/maps-3.png' alt='')
        #map4.bg-map
            .bg-map__wrap 
                img(src='@img/maps-4.png' alt='')
        #map-nav.map-nav 
            button.map-btn.active(data-target='#map1') 
                span All
                div
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2.66406" y="2.66406" width="10.6667" height="10.6667" rx="2.66667"/>
                        <rect x="18.6641" y="2.66406" width="10.6667" height="10.6667" rx="2.66667"/>
                        <rect x="2.66406" y="18.6641" width="10.6667" height="10.6667" rx="2.66667"/>
                        <rect x="18.6641" y="18.6641" width="10.6667" height="10.6667" rx="2.66667"/>
                    </svg>
            button.map-btn(data-target='#map2') 
                span Education
                div 
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.3642 17.863C24.8457 17.3446 24.8457 16.5039 25.3642 15.9854V15.9854C25.8827 15.467 25.8827 14.6263 25.3642 14.1079V14.1079C24.8457 13.5894 24.0051 13.5894 23.4866 14.1079L20.7897 16.8047C20.2088 17.3856 19.2671 17.3856 18.6862 16.8047L14.1118 12.2303L9.5373 7.6558C8.95644 7.07494 8.95644 6.13318 9.5373 5.55232L12.2342 2.85545C12.7527 2.33697 12.7527 1.49634 12.2342 0.977857V0.977857C11.7157 0.459375 10.8751 0.459376 10.3566 0.977858V0.977858C9.8381 1.49634 8.99748 1.49634 8.479 0.977858V0.977858C7.96051 0.459376 7.11989 0.459375 6.6014 0.977857L5.66917 1.91009C5.15069 2.42857 4.31007 2.42857 3.79158 1.91009V1.91009C3.2731 1.39161 2.43248 1.39161 1.91399 1.91009V1.91009C1.39551 2.42857 1.39551 3.2692 1.91399 3.78768V3.78768C2.43248 4.30616 2.43248 5.14679 1.91399 5.66527L0.981763 6.5975C0.463281 7.11598 0.463282 7.95661 0.981764 8.47509V8.47509C1.50025 8.99357 1.50025 9.8342 0.981764 10.3527V10.3527C0.463282 10.8712 0.463282 11.7118 0.981763 12.2303V12.2303C1.50025 12.7487 2.34087 12.7488 2.85935 12.2303L5.55623 9.53339C6.13709 8.95253 7.07885 8.95253 7.65971 9.53339L16.8086 18.6823C17.3895 19.2632 17.3895 20.2049 16.8086 20.7858L14.1118 23.4827C13.5933 24.0012 13.5933 24.8418 14.1118 25.3603V25.3603C14.6302 25.8788 15.4709 25.8788 15.9894 25.3603V25.3603C16.5078 24.8418 17.3485 24.8418 17.8669 25.3603V25.3603C18.3854 25.8788 19.2261 25.8788 19.7445 25.3603L20.6768 24.428C21.1952 23.9096 22.0359 23.9096 22.5544 24.428V24.428C23.0728 24.9465 23.9135 24.9465 24.4319 24.428V24.428C24.9504 23.9096 24.9504 23.0689 24.4319 22.5504V22.5504C23.9135 22.032 23.9135 21.1913 24.4319 20.6729L25.3642 19.7406C25.8827 19.2221 25.8827 18.3815 25.3642 17.863V17.863Z"/>
                    </svg>

            button.map-btn(data-target='#map3') 
                span Shopping
                div
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5278 5.20055V13.0014C17.5278 14.4315 18.7413 15.6017 20.2244 15.6017H21.5727V24.7026C21.5727 25.4177 22.1794 26.0028 22.921 26.0028C23.6625 26.0028 24.2693 25.4177 24.2693 24.7026V1.46916C24.2693 0.624067 23.4468 1.07631e-07 22.5974 0.195021C19.6851 0.884094 17.5278 3.26335 17.5278 5.20055ZM10.7863 9.10097H8.08975V1.30014C8.08975 0.585062 7.48302 0 6.74146 0C5.9999 0 5.39317 0.585062 5.39317 1.30014V9.10097H2.69658V1.30014C2.69658 0.585062 2.08985 0 1.34829 0C0.606731 0 0 0.585062 0 1.30014V9.10097C0 11.9743 2.41344 14.3015 5.39317 14.3015V24.7026C5.39317 25.4177 5.9999 26.0028 6.74146 26.0028C7.48302 26.0028 8.08975 25.4177 8.08975 24.7026V14.3015C11.0695 14.3015 13.4829 11.9743 13.4829 9.10097V1.30014C13.4829 0.585062 12.8762 0 12.1346 0C11.3931 0 10.7863 0.585062 10.7863 1.30014V9.10097Z" />
                    </svg>

            button.map-btn(data-target='#map4') 
                span Leisure
                div 
                    <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.0957 0.828125C10.1059 0.828125 8.57086 1.83237 7.58731 3.16557C7.04267 3.90455 6.65277 4.74268 6.41466 5.59108C6.32582 5.90764 6.57379 6.20801 6.90258 6.20801V6.20801C7.14678 6.20801 7.35648 6.03834 7.42473 5.80387C7.63414 5.08449 7.96727 4.36921 8.41736 3.75848C9.25309 2.6259 10.447 1.83685 12.0957 1.83685C13.7444 1.83685 14.9383 2.6259 15.7741 3.75848C16.2241 4.36921 16.5573 5.08449 16.7667 5.80387C16.8349 6.03834 17.0446 6.20801 17.2888 6.20801V6.20801C17.6176 6.20801 17.8656 5.90764 17.7768 5.59108C17.5386 4.74268 17.1488 3.90455 16.6041 3.16557C15.6206 1.83237 14.0855 0.828125 12.0957 0.828125ZM4.14601 7.21674C3.24767 7.21674 2.49816 7.90303 2.4192 8.7979L0.994519 24.945C0.905088 25.9586 1.7038 26.8309 2.72133 26.8309H21.4709C22.4883 26.8309 23.287 25.9587 23.1977 24.9452L21.7749 8.79809C21.696 7.90314 20.9465 7.21674 20.0481 7.21674H4.14601ZM-nan -nanL6.63788 8.50567C6.87913 8.50567 7.1105 8.60014 7.28109 8.76829C7.45168 8.93644 7.54751 9.16451 7.54751 9.40232C7.54751 9.64012 7.45168 9.86819 7.28109 10.0363C7.1105 10.2045 6.87913 10.299 6.63788 10.299C6.39662 10.299 6.16525 10.2045 5.99466 10.0363C5.82407 9.86819 5.72824 9.64012 5.72824 9.40232C5.72824 9.16451 5.82407 8.93644 5.99466 8.76829C6.16525 8.60014 6.39662 8.50567 6.63788 8.50567L-nan -nanL-nan -nanZM17.5535 8.50567C17.7948 8.50567 18.0262 8.60014 18.1968 8.76829C18.3673 8.93644 18.4632 9.16451 18.4632 9.40232C18.4632 9.64012 18.3673 9.86819 18.1968 10.0363C18.0262 10.2045 17.7948 10.299 17.5535 10.299C17.3123 10.299 17.0809 10.2045 16.9103 10.0363C16.7397 9.86819 16.6439 9.64012 16.6439 9.40232C16.6439 9.16451 16.7397 8.93644 16.9103 8.76829C17.0809 8.60014 17.3123 8.50567 17.5535 8.50567Z"/>
                    </svg>

                