mixin twobutone()
    section.towers
        .twr-con
            .twr-sticky
                .twr-title
                    picture
                        source(srcset='@img/subtract-1.png' type='image/png')
                        img(src='@img/subtract-1.png' alt='' draggable='false').desktop
                    picture
                        source(srcset='@img/subtract-1.2.svg' type='image/svg')
                        img(src='@img/subtract-1.2.svg' alt='' draggable='false').mobile
                .twr-slider
                    p.twr-slider__text Dubai Maritime City is more than just a hub of industry - it's also a place where people can live, work, and enjoy a dynamic, urban lifestyle. <br /><br />Magnificent surroundings of Dubai Maritime City are complemented by a developed infrastructure that includes activities such as yachting, shopping and visiting luxurious restaurants.
                    .swiper.mySwiper.twrSwiper
                        .swiper-wrapper.twr-wrapper
                            .swiper-slide
                                img(src='@img/autoSlider-1.png' alt='' draggable='false').desktop
                                img(src='@img/autoSlider-1.2.png' alt='' draggable='false').mobile
                                .swiper-slide__text Dubai Maritime City is more than just a hub of industry - it's also a place where people can live, work, and enjoy a dynamic, urban lifestyle.
                                .toning
                            .swiper-slide
                                img(src='@img/autoSlider-2.png' alt='' draggable='false').desktop
                                img(src='@img/autoSlider-2.2.png' alt='' draggable='false').mobile
                                .swiper-slide__text Magnificent surroundings of Dubai Maritime City are complemented by a developed infrastructure that includes activities such as yachting, shopping and visiting luxurious restaurants.
                                .toning                                            
                        .swiper-pagination
        .map-title
            p A COMFORTABLE PLACE <br />FOR LIVING
    section.map#location  
        a(href="https://goo.gl/maps/S2UxPgJkbCgnjP5D7" target="_blank").map__link  
            <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="84" height="84" rx="42" fill="white"/>
                <path d="M61.4207 42.4592C61.4207 41.0551 61.3107 39.6509 61.0905 38.2754H42.4038V46.2132H53.1094C52.6691 48.7636 51.238 51.0561 49.1464 52.4889V57.647H55.5313C59.2741 54.0649 61.4207 48.7636 61.4207 42.4592Z" fill="#4285F4"/>
                <path d="M42.4046 62.6333C47.7436 62.6333 52.2563 60.7991 55.5313 57.647L49.1464 52.4889C47.3576 53.7497 45.0741 54.4663 42.4046 54.4663C37.2306 54.4663 32.8548 50.827 31.2861 45.9555H24.7086V51.2855C28.0662 58.2489 34.9189 62.6333 42.4046 62.6333Z" fill="#34A853"/>
                <path d="M31.2861 45.9555C30.4604 43.4051 30.4611 40.6253 31.2869 38.0463V32.7449H24.7084C21.8733 38.5621 21.8733 45.4395 24.7084 51.2567L31.2861 45.9555Z" fill="#FBBC04"/>
                <path d="M42.4046 29.5354C45.2392 29.4781 47.9638 30.5957 50.0003 32.6303L55.6696 26.7271C52.0644 23.2311 47.3308 21.3111 42.4046 21.3684C34.9189 21.3684 28.0659 25.7815 24.7084 32.7449L31.2861 38.0749C32.8548 33.1747 37.2306 29.5354 42.4046 29.5354Z" fill="#EA4335"/>
            </svg>
        p.map__text Slide to left to see more
        #map1.bg-map.active
            .bg-map__wrap 
                img(src='@img/map-1.png' alt='') 
        #map2.bg-map
            .bg-map__wrap 
                img(src='@img/map-2.png' alt='')
        #map3.bg-map
            .bg-map__wrap 
                img(src='@img/map-3.png' alt='')
        #map4.bg-map
            .bg-map__wrap 
                img(src='@img/map-4.png' alt='')
        #map-nav.map-nav 
            button.map-btn.active(data-target='#map1') 
                span All
                div
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2.66406" y="2.66406" width="10.6667" height="10.6667" rx="2.66667"/>
                        <rect x="18.6641" y="2.66406" width="10.6667" height="10.6667" rx="2.66667"/>
                        <rect x="2.66406" y="18.6641" width="10.6667" height="10.6667" rx="2.66667"/>
                        <rect x="18.6641" y="18.6641" width="10.6667" height="10.6667" rx="2.66667"/>
                    </svg>
            button.map-btn(data-target='#map2') 
                span Education
                div 
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9023 18.6271L3.28695 13.5809C3.06345 13.4915 3.06345 13.1751 3.28695 13.0857L15.9023 8.03962C15.9658 8.01418 16.0368 8.01418 16.1003 8.03961L28.7157 13.0857C28.9392 13.1751 28.9392 13.4915 28.7157 13.5809L16.1003 18.6271C16.0368 18.6525 15.9658 18.6525 15.9023 18.6271Z"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3346 19.9948C26.9664 19.9948 26.668 19.6963 26.668 19.3281V13.3281H28.0013V19.3281C28.0013 19.6963 27.7028 19.9948 27.3346 19.9948Z"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33594 17.548V21.0337C9.33594 22.6701 10.6625 23.9967 12.2989 23.9967H19.7063C21.3427 23.9967 22.6693 22.6701 22.6693 21.0337V17.5469L16.4556 20.1768C16.1652 20.2997 15.8374 20.2997 15.547 20.1768L9.33594 17.548ZM15.8014 18.1127L16.0026 18.1785L16.1924 18.1164L16.0013 18.1973L15.8014 18.1127Z"/>
                    </svg>
            button.map-btn(data-target='#map3') 
                span Shopping
                div
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3359 7.9974L20.6825 6.03716C20.0111 4.02278 18.1259 2.66406 16.0026 2.66406V2.66406C13.8793 2.66406 11.9941 4.02278 11.3227 6.03716L10.6693 7.9974" stroke-width="2" stroke-linecap="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.20438 11.6541C4.38383 9.58679 6.11433 8 8.18939 8H23.8167C25.8918 8 27.6223 9.58679 27.8017 11.6541L28.8334 23.5388C29.1039 26.6546 26.6476 29.3333 23.52 29.3333H8.48607C5.35855 29.3333 2.90225 26.6546 3.17272 23.5388L4.20438 11.6541ZM12.6697 14C12.6697 15.1046 11.7743 16 10.6697 16C9.56515 16 8.66972 15.1046 8.66972 14C8.66972 12.8954 9.56515 12 10.6697 12C11.7743 12 12.6697 12.8954 12.6697 14ZM21.3377 16C22.4423 16 23.3377 15.1046 23.3377 14C23.3377 12.8954 22.4423 12 21.3377 12C20.2331 12 19.3377 12.8954 19.3377 14C19.3377 15.1046 20.2331 16 21.3377 16Z"/>
                    </svg>
            button.map-btn(data-target='#map4') 
                span Leisure
                div 
                    <svg width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.9312 10.5432C27.6281 5.69257 23.0471 1.98733 17.0849 1.6168V1.0106C17.0849 0.471589 16.6133 0 16.0743 0C15.5017 0 15.0637 0.471571 15.0637 1.0106V1.6168C9.1017 1.98734 4.52044 5.69275 4.18359 10.6443V10.8127C4.18359 11.0822 4.35206 11.3517 4.62156 11.4189C4.89107 11.52 5.16057 11.4189 5.32906 11.183C5.83423 10.442 6.64275 10.0378 7.51843 10.0378C8.46159 10.0378 9.33726 10.543 9.80885 11.3515C9.94348 11.5536 10.1458 11.6884 10.3479 11.6884C10.5838 11.6884 10.7858 11.5538 10.8869 11.3853C11.3584 10.5432 12.2341 10.0381 13.2111 10.0381C13.8848 10.0381 14.5584 10.3076 15.0638 10.7791V23.7477H17.085L17.0848 10.7791C17.5564 10.3076 18.23 10.0381 18.9375 10.0381C19.8807 10.0381 20.7563 10.5432 21.2618 11.3518C21.3628 11.5538 21.5649 11.6549 21.8008 11.6549C22.0703 11.6885 22.2388 11.5202 22.3398 11.3518C22.8114 10.5433 23.6871 10.0381 24.6641 10.0381C25.5062 10.0381 26.3483 10.476 26.8535 11.1833C27.0219 11.4192 27.2914 11.4864 27.5609 11.4192C27.8305 11.3182 27.9989 11.0823 27.9989 10.813C27.9648 10.7792 27.9648 10.7117 27.9312 10.5435L27.9312 10.5432Z"/>
                        <path d="M25.303 25.4318H9.03339L2.2965 16.6401C1.85853 16.0675 1.05024 15.9665 0.511227 16.4042C-0.0613781 16.8422 -0.162401 17.6505 0.275322 18.1895L7.41642 27.4864C7.65233 27.7895 8.02262 27.9916 8.42701 27.9916H10.1787L9.37018 30.282C9.13427 30.9557 9.47122 31.6632 10.1449 31.9326C10.2795 32.0001 10.448 32.0001 10.5828 32.0001C11.1218 32.0001 11.5934 31.6631 11.7955 31.158L12.9407 27.9916H20.9576L22.1028 31.158C22.3049 31.6631 22.7764 32.0001 23.3154 32.0001C23.4501 32.0001 23.6185 31.9665 23.7534 31.9326C24.427 31.6967 24.764 30.9559 24.5281 30.282L23.7196 27.9916H25.4038C26.1113 27.9916 26.6839 27.419 26.6839 26.7115C26.6841 26.0045 26.0105 25.4319 25.303 25.4319L25.303 25.4318Z"/>
                    </svg>
                