doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    body#body
        .wrapper
            include components/header
            +header 
            include components/intro 
            +intro 
            include components/place 
            +place 
            include components/about  
            +about  
            include components/twobutone 
            +twobutone  
            include components/gallery
            +gallery
            include components/floor
            +floor
            include components/developer
            +developer
            include components/book 
            +book 
            include components/payment
            +payment 
            include components/footer
            +footer 
            include components/broshure 
            +broshure 
        script(src="js/app.min.js") 