doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
        link(rel="apple-touch-icon" sizes="180x180" href="./files/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./files/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./files/favicon/favicon-16x16.png")
        link(rel="manifest" href="./files/favicon/site.webmanifest")
        link(rel="mask-icon" href="./files/favicon/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="./files/favicon/favicon.ico")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content="./files/favicon/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")
        meta(name="call-dn" content="+971564156565")
        meta(name="wp-dn" content="971523561901")
        meta(name="project" content="harbour_lights")
        meta(name="thankyou-title" content="Thank you for your interest!")
        meta(name="thankyou-title-repeat" content="Do you want to resend the form?")
        meta(name="thankyou-subtitle" content="We&#039;ll get back to you soon")
        meta(name="thankyou-btn-send" content="Send")
        meta(name="thankyou-btn-cancel" content="Cancel")
        meta(name="thankyou-repeat-ty" content="Thank you!")
        meta(name="thankyou-repeat-cc" content="Cancelled")
    body#body
        include components/preloader
        +preloader
        .wrapper
            include components/header
            +header 
            include components/intro 
            +intro 
            include components/place 
            +place 
            include components/about  
            +about  
            include components/twobutone 
            +twobutone  
            include components/gallery
            +gallery
            include components/floor
            +floor
            include components/developer
            +developer
            include components/book 
            +book 
            include components/payment
            +payment 
            include components/footer
            +footer 
            include components/broshure 
            +broshure 
        script(src="js/app.min.js") 