// Главный Sass файл

// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');


@import 'node_modules/@fancyapps/ui/dist/fancybox';


// abstracts
@import 
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins';

// components
@import
    'components/header',
    'components/main',
    'components/gallery',
    'components/floor',
    'components/developer',
    'components/book',
    'components/payment',
    'components/footer',
    'components/broshure';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    caret-color: transparent;
}

*::selection{
    background: #459A77;
    color: white;
}

:root{
    --leftSide-width: 640px;
    --header-height: 80px;
    --swiper-btn-width: 100px;
}

body{
    overflow-x: hidden;
    background-color: black;
    cursor: default;
    padding-top: var(--header-height);
    min-width: 370px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #D9D9D9;
    border-radius: 0;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #459A77;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #347258;
}

.clear{
    clear: both;
}

//@font-face {
//    font-family: gilroy;
//    src: url("../fonts/Gilroy-Regular.ttf");
//}